* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;	
	font-family: consolas;
}

::-webkit-scrollbar {
		width: 8px;
	}

	::-webkit-scrollbar-track {
  background: #f1f1f12e;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #ae7a857a;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #d367a1;
}

@import './container.scss';
@import './header.scss';
@import './content.scss';
@import './table.scss';